@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: #f8fcfd;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.ant-layout-content {
  min-height: calc(100vh - 64px);
}

.ant-carousel {
  height: 75vh;
}

.slick-dots {
  background: green;
  height: 10px;
  position: fixed;
  bottom: 32px;
}

.slick-slide {
  height: 100%;
}
.slick-track {
  max-height: 60vh;
}

.slick-dots > li {
  height: 40px !important;
}

.prev-button, .next-button {
  background: #d6eff5;
  color:#14333a;
  border: 0;
  height: 100%;
  width: 100px;
  position: absolute;

  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.prev-button:hover, .next-button:hover {
  opacity: 0.6;
}

.prev-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  left: 0px;
}

.next-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  right: 0px;
}